*{
box-sizing:border-box;
}

body{
margin:0;
background:
radial-gradient(
circle at 50% -20%,
#202a38,
#080d13 48%
);
color:#fff;
font-family:
Arial,
Tahoma,
sans-serif;
padding-bottom:95px;
}

.demo{
position:fixed;
top:8px;
left:8px;
background:#25200c;
border:1px solid #705716;
color:#ffc72d;
padding:6px 10px;
border-radius:9px;
font-size:11px;
z-index:20;
}

header{
height:90px;
display:flex;
align-items:center;
justify-content:space-between;
max-width:520px;
margin:auto;
padding:20px;
font-size:30px;
font-weight:bold;
}

.icon{
color:#fff;
text-decoration:none;
font-size:28px;
}

.title{
font-size:29px;
}

.bell{
font-size:24px;
}

main{
max-width:520px;
margin:auto;
padding:10px 15px;
}

.card{
background:
linear-gradient(
145deg,
#151c25,
#0e141b
);
border:1px solid #29333f;
border-radius:25px;
padding:23px;
margin:15px 0;
box-shadow:
0 12px 35px #0007;
}

.balance{
padding:30px 24px;
min-height:235px;
}

.label{
color:#aeb6c2;
font-size:21px;
}

.money{
font-size:57px;
font-weight:900;
margin:18px 0;
}

.lock{
display:inline-block;
color:#ffc52c;
border:1px solid #735715;
padding:10px 15px;
border-radius:13px;
}

.notice{
background:#0d192c;
border-color:#254d9d;
}

.notice h2{
color:#76a3ff;
font-size:20px;
}

.muted{
color:#aab3bf;
line-height:1.8;
}

.vip{
border:1px solid #333b45;
border-radius:18px;
padding:17px;
display:flex;
justify-content:space-between;
align-items:center;
}

.vip span{
color:#ffd044;
font-size:27px;
font-weight:bold;
}

.gold{
font-size:32px;
font-weight:bold;
color:#ffba1d;
}

input,
select{
width:100%;
background:#0b1118;
color:#fff;
border:1px solid #303b48;
border-radius:14px;
padding:16px;
margin-top:12px;
font-size:16px;
}

button{
width:100%;
background:
linear-gradient(
#ffce45,
#e9a912
);
border:0;
border-radius:15px;
padding:17px;
margin-top:14px;
font-size:17px;
font-weight:bold;
color:#201804;
cursor:pointer;
}

button:active{
transform:scale(.98);
}

.tx{
background:#0c131b;
border:1px solid #252f3a;
border-radius:14px;
padding:14px;
margin-top:10px;
}

.tx-top{
display:flex;
justify-content:space-between;
gap:10px;
}

.tx-date{
color:#7f8a99;
font-size:12px;
margin-top:8px;
}

.pending{
color:#ffc32e;
margin-top:8px;
}

.completed{
color:#35dd91;
margin-top:8px;
}

.message{
background:#12233f;
border:1px solid #315da5;
padding:14px;
border-radius:14px;
margin:10px 0;
}

nav{
position:fixed;
bottom:0;
left:0;
right:0;
height:78px;
background:#111820;
border-top:1px solid #29323d;
display:flex;
justify-content:space-around;
align-items:center;
z-index:10;
}

nav a{
color:#aab3bf;
text-decoration:none;
font-size:25px;
text-align:center;
}

nav small{
display:block;
font-size:12px;
margin-top:4px;
}

@media(max-width:450px){

.money{
font-size:48px;
}

header{
font-size:25px;
}

.title{
font-size:24px;
}

}
