{% extends "base.html" %}

{% block content %}

<section class="card">

    <h2>إنشاء حساب</h2>

    {% if message %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}

    <form method="post" action="/register">

        <label>اسم المستخدم</label>

        <input
            type="text"
            name="username"
            minlength="3"
            required
            autocomplete="username"
            placeholder="اسم المستخدم"
        >

        <label>كلمة المرور</label>

        <input
            type="password"
            name="password"
            minlength="4"
            required
            autocomplete="new-password"
            placeholder="كلمة المرور"
        >

        <label>تأكيد كلمة المرور</label>

        <input
            type="password"
            name="confirm_password"
            minlength="4"
            required
            autocomplete="new-password"
            placeholder="أعد كتابة كلمة المرور"
        >

        <button type="submit">
            إنشاء الحساب
        </button>

    </form>

    <p class="muted">
        لديك حساب بالفعل؟
        <a href="/login">تسجيل الدخول</a>
    </p>

</section>

{% endblock %}
